<html>
 <head>
  <meta charset="UTF-8">
  <title> New Puppy!</title>
 </head>
 <body>
         <h1>  Name: <%= @name %> </h1>
         <h2>  Breed: <%= @breed %></h2>
         <h2> Point Guard: <%= @pointguard %></h2>
         <h2> Shooting Guard: <%= @shootingguard %></h2>
         <h2> Small Forward: <%= @smallforward %></h2>
         <h2> Power Forward: <%= @powerforward %></h2>
         <h2> Center: <%= @center %></h2>
         
 </body>
</html>
